@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Bayon&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nabla&family=Niconne&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.body{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1200px;
    align-items: center;
    text-align: center;
}
.header{
    padding: 12px;
    position: fixed;
    background-color: rgb(31, 31, 31);
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    box-shadow: 3px 6px 7px rgb(55, 55, 55);
}
.header__container{
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 66px;
}
.header__btn{
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 9px;
    color: #ffff;
    opacity: 0.6;
    background-color: rgb(21, 21, 21);
    transition: transform 0.3s ease;
}
.header__btn:hover{
    background-color: #FF6E30;
    opacity: 1;
}
.header__text__logo{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: aliceblue;
}
.header__item__link{
    font-family: "Poppins",sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffff;
    opacity: 0.5;
}